apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-log
          persistentVolumeClaim:
            claimName: log-output-claim
        - name: config-volume
          configMap:
            name: log-output-config
      containers:
        - name: log-response
          image: vsinerva/log-response@sha256:b2f2b5c0ca30a9f82b2c44137ed1d2618be50b7146d7ab400538b5fb36f101d6
          volumeMounts:
            - name: shared-log
              mountPath: /src/app/data
          envFrom:
            - configMapRef:
                name: log-output-config
        - name: log-writer
          image: vsinerva/log-writer@sha256:91458b5b046db0e8b7210360fc9116cc4b283de3115397912ed1238855b2b637
          volumeMounts:
            - name: shared-log
              mountPath: /src/app/data
            - name: config-volume
              mountPath: /src/app/config
          envFrom:
            - configMapRef:
                name: log-output-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: vsinerva/pingpong@sha256:7990b8e118f454d401a58dc87c7192020f666f86ee6b734a43214360b8c3f9b4
          envFrom:
            - configMapRef:
                name: log-output-config
