apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-log
          persistentVolumeClaim:
            claimName: log-output-claim
      containers:
        - name: log-response
          image: vsinerva/log-response@sha256:dbd9050a056dfbdc7a9da0b0f0952739aa1259ca13d45aef8e4308f71292e3ff
          volumeMounts:
            - name: shared-log
              mountPath: /src/app/data
          env:
            - name: PORT
              value: "3000"
            - name: FILE_PATH
              value: "/src/app/data/log.txt"
        - name: log-writer
          image: vsinerva/log-writer@sha256:a7e1d2e991a49f68f1fd3708b215ec7a2be555b7423bf2f602fc4155b2e69778
          volumeMounts:
            - name: shared-log
              mountPath: /src/app/data
          env:
            - name: FILE_PATH
              value: "/src/app/data/log.txt"
            - name: PING_URL
              value: "http://pingpong-svc:2345/pings"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: vsinerva/pingpong@sha256:528f8c864f3a053511b3048c902685db0fc2ddb23623c38fc859094bc0ac287c
          env:
            - name: PORT
              value: "3000"
