apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-project-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-project
  template:
    metadata:
      labels:
        app: course-project
    spec:
      volumes:
        - name: todo-volume
          persistentVolumeClaim:
            claimName: todo-claim
      containers:
        - name: todo-app
          image: vsinerva/todo-app@sha256:b9e4aefb6355a5aa5a111c978d5467d6af862525a343dbfcec225b33517f6be1
          volumeMounts:
            - name: todo-volume
              mountPath: /src/app/data
          env:
            - name: PORT
              value: "3000"
            - name: FILE_PATH
              value: "/src/app/data/image.jpg"
