apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-project-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-project
  template:
    metadata:
      labels:
        app: course-project
    spec:
      volumes:
        - name: todo-volume
          persistentVolumeClaim:
            claimName: todo-claim
      containers:
        - name: todo-app
          image: vsinerva/todo-app@sha256:f9a2382d887f987e0c0a8f3d5488d4668315fa719dadefee720458e58aae5fca
          volumeMounts:
            - name: todo-volume
              mountPath: /src/app/data
          envFrom:
            - configMapRef:
                name: course-project-config
        - name: todo-backend
          image: vsinerva/todo-backend@sha256:e940009c00cb8da28450f9d1cfed8540bc7db5d5855e6830759c200d73ca0f08
          envFrom:
            - configMapRef:
                name: course-project-config
